<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your package was created </h1>
      <br>
      Name: <%= @defaults.name %>
      <br>
      Surname: <%= @defaults.surname %>
      <br>
      Midname: <%= @defaults.midname %>
      <br>
      Weight: <%= @defaults.weight %>
      <br>
      Size: <%= @defaults.size %>
      <br>
      Sending adress: <%= @defaults.addr_from %>
      <br>
      Destination adress: <%= @defaults.addr_to %>
      <br>
      Price: <%= @defaults.price %>
  </body>
</html>