<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your package was created </h1>
      <br>
      Name: <%= @name %>
      <br>
      Surname: <%= @surname %>
      <br>
      Midname: <%= @midname %>
      <br>
      Weight: <%= @weight %>
      <br>
      Size: <%= @size %>
      <br>
      Sending adress: <%= @addr_from %>
      <br>
      Destination adress: <%= @addr_to %>
      <br>
      Price: <%= @price %>
  </body>
</html>